<!-- /********************************************************************************
* WEB322 – Assignment 02
*
* I declare that this assignment is my own work in accordance with Seneca's
* Academic Integrity Policy:
*
* https://www.senecacollege.ca/about/policies/academic-integrity-policy.html
*
* Name: _____DIBA_MAKKI____ Student ID: _____144420189____ Date: ___MAY_31,_2024___
*
* Published URL: web-322-assignmnet2-20r5j4fh4-dibas-projects-b8c945af.vercel.app

********************************************************************************/ -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
    <header>

        <%- include('partials/navbar', { page: '/about' }) %>

    </header>

    <main class="container mx-auto">
        <section class="hero bg-base-200">
            <div class="hero-content text-center">
                <div class="max-w-md">
                    <h1 class="text-5xl font-bold">About</h1>
                    <p class="py-6">All about me and this project.</p>
                </div>
            </div>
        </section>
        <section class="grid grid-cols-1 md:grid-cols-2 gap-6 py-6">
            <div class="card bg-base-100 shadow-xl">
                <figure><img src="diba.jpeg" alt="about image"></figure>
            </div>
            <div class="card bg-base-100 shadow-xl">
                <div class="card-body">
                    <h2 class="card-title">About Me</h2>
                    <p>My name is Diba, and I'm passionate about computer programming. When I'm not immersed in coding, I enjoy expanding my linguistic skills, hitting the gym to stay active, and spending quality time playing with my cat. Coding isn't just a career for me; it's a creative outlet that allows me to bring ideas to life..</p>
                </div>
            </div>
        </section>
    </main>
    <script src="/server.js"></script>
</body>
</html>
