<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lego Collection</title>
    <link href="/css/main.css" rel="stylesheet">
    <script src="/server.js"></script>
</head>
<body>
    <header>

        <%- include('partials/navbar', { page: '/' }) %>

    </header>
    <main class="container mx-auto">
        <section class="hero bg-base-200">
            <div class="hero-content text-center">
                <div class="max-w-md">
                    <h1 class="text-5xl font-bold">Welcome to the Lego Collection</h1>
                    <p class="py-6">Explore the vast world of Lego sets. Click below to see all available sets.</p>
                    <a class="btn btn-primary" href="/lego/sets">Explore Sets</a>
                </div>
            </div>
        </section>
        <section class="grid grid-cols-1 md:grid-cols-3 gap-6 py-6">
            <div class="card bg-base-100 shadow-xl">
                <figure><img src="Lego0.jpg" alt="Lego Set 1"></figure>
                <div class="card-body">
                    <h2 class="card-title">Lego</h2>
                    <p></p>
                    <div class="card-actions justify-end">
                        <a class="btn btn-primary" href="./lego/sets/001-1">View Set</a>
                    </div>
                </div>
            </div>
            <div class="card bg-base-100 shadow-xl">
                <figure><img src="Lego1.jpg" alt="Lego Set 2"></figure>
                <div class="card-body">
                    <h2 class="card-title">lego</h2>
                    <p></p>
                    <div class="card-actions justify-end">
                        <a class="btn btn-primary" href="./lego/sets/002-1">View Set</a>
                    </div>
                </div>
            </div>
            <div class="card bg-base-100 shadow-xl">
                <figure><img src="Lego2.jpg" alt="Lego Set 3"></figure>
                <div class="card-body">
                    <h2 class="card-title">lego</h2>
                    <p></p>
                    <div class="card-actions justify-end">
                        <a class="btn btn-primary" href="./lego/sets/003-1">View Set</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>